body, html {
  font-family: 'Helvetica Neue', sans-serif;
  color: #444444;
  padding-top: 4px;
  font-size: 14px;
}

#content {
  margin: 0 auto;
  width: 800px;
  z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}

img {
  padding: 16px 0px 16px 0px;
}

.title {
  font-size: 24px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #6fafcd;
}

.highlightP {
  padding-bottom: 4px;
}

#navitem {
  margin-left: 16px;
  font-size: 16px;
  display: flex;
  align-self: center;
  color: #6fafcd;
}

#logo {
  padding-left: 0px;
  font-weight: bold;
  align-self: flex-start;
}

.h1 {
  padding-bottom: 4px;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.line-separator{
  height:.4px;
  background:#444444;
  border-bottom:.4px solid #444444;
  margin-top: 10px;
  opacity: 0.5;
}

.social-item {
  padding-right: 12px;
  display: flex;
  align-self: center;
}

.social-item:hover {
  opacity: .75
}

#socialBar {
  display: flex;
  justify-content: flex-start;
  height: 40px;
}

#projectTitle {
  font-size: 24px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
  padding-top: 16px;
}

.vertDiv {
  height:160px;
  width: 6px;
  background:#9B9B9B;
  opacity: .2;
  margin: 0px 20px 0px 20px;
}

#airbnb {
  display: flex;
  justify-content: flex-start;
  transform: translateY(75%);
}

#airbnbLogo {
  object-fit: contain;
  width: 40%;
  align-self: center;
}

#airbnbDescription {
  align-self: center;
  color: #444444;
}

#taipei {
  display: flex;
  justify-content: flex-start;
  transform: translateY(150%);
}

#taipeiLogo {
  object-fit: contain;
  width: 40%;
  align-self: center;
}

#taipeiDescription {
  align-self: center;
  color: #444444;
}

#socialBar2 {
  float: right;
  transform: rotateX(-500%);
  display: flex;
  justify-content: flex-start;
}

footer {
  position: relative;
  bottom: 4px;
}

#airbnb:hover {
  opacity: .75;
}

#taipei:hover {
  opacity: .75;
}

#airbnbPage {
  display: flex;
  justify-content: flex-start;
  padding-top: 16px;
  padding-bottom: 16px;
}

#airbnbLogoPage {
  object-fit: contain;
  width: 40%;
  align-self: center;
}

#airbnbDescriptionPage {
  align-self: center;
  font-weight: 500;
}

.airbnbPic {
  margin: 16px 0px 16px 0px;
}

.link1 {
  color: #444444;
  text-decoration: none;
}

#projectFooter {
  position: absolute;
  bottom: 4px;
}

.projectLink {
  text-decoration: none;
}

#taipeiPage {
  display: flex;
  justify-content: flex-start;
  padding-top: 16px;
  padding-bottom: 16px;
}

#taipeidescriptionPage {
  align-self: center;
  font-weight: 500;
}

#taipeiLogoPage {
  object-fit: contain;
  width: 40%;
  align-self: center;
}

#wrapper {
  display: none;
}

#scrollJump {
  display: flex;
  justify-content: flex-start;
}

#airbnbutton {
  display: flex;
  align-self: center;
}

#placeTitle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
}

#placetitleparent {
  height: 95%;
}

#ashaTag:hover {
  cursor: pointer;
}

#ashaLogo {
  width: 100%;
}

#placesWrapper {
  height: 95%;
}

#asha {
  display: none;
}

.ashaimg {
  padding-right: 20px;
}

.active {
    border-bottom: 2px solid currentColor; /* Or whatever color you want */
    text-decoration: none;
}
